body{
background-color: green;
}
h1,h2,h3,h4,h5,h6,pre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec1{
    padding-left: 15px;
    width: 33.33%;
    vertical-align: top;
    padding-right: 15px;
    float: left;
}

.sec2{
    padding-left: 15px;
    width: 33.33%;
    vertical-align: top;
    padding-right: 15px;
    float: left;
}

nav{
    background-color: darkmagenta;
    letter-spacing: 5px;
    padding: 10px;
    margin: 5px;
}
a.hover{
    background-color: darkred;
}
a{
    margin: 10px;
    padding-top: 10px;
}